{
  "presets": ["@babel/env", "@babel/react", "@babel/typescript", "mobx"],
  "plugins": [
    "@emotion",
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ]
}
